@model Catgory
@{
    ViewData["Title"] = "AddCatgory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AddCatgory</h1>


<form method="post">

    
    <input asp-for="Name" type="text" class="form-control" id="firstName" placeholder="add catgory name" >
    
    <br />
    <button type="submit" class="btn btn-primary">Add</button>


</form>

