@using Microsoft.AspNetCore.Identity
@model _4everStore.Models.view.iteamAdmin

@{
    ViewData["Title"] = "AddIteam";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AddIteam</h1>

<h4>Iteam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddIteam" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Iteam.Name" class="control-label"></label>
                <input asp-for="Iteam.Name" class="form-control" />
                <span asp-validation-for="Iteam.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iteam.Description" class="control-label"></label>
                <input asp-for="Iteam.Description" class="form-control" />
                <span asp-validation-for="Iteam.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iteam.price" class="control-label"></label>
                <input asp-for="Iteam.price" class="form-control" />
                <span asp-validation-for="Iteam.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iteam.img1" class="control-label"></label>
                <input type="file" asp-for="Iteam.clientFile" class="form-control" />
                <span asp-validation-for="Iteam.img1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iteam.img2" class="control-label"></label>
                <input type="file" asp-for="Iteam.clientFile2" class="form-control" />
                <span asp-validation-for="Iteam.img2" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Iteam.CatgoryId">الصنف</label>
                <select asp-for="Iteam.CatgoryId" class="form-control">
                   
                    @foreach (var item in Model.catgory)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

