@model List<Iteam>
@{
    ViewData["Title"] = "catgoryIteam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itam = Model.FirstOrDefault();

}
<br />
 <h2>العناصر</h2> 



<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           
        
        @foreach(var it in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">

                        <img class="card-img-top" src="~/images/@it.img1" alt="..." />
                        
                        <div class="card-body p-4">
                            <div class="text-center">
                               
                                <h5 class="fw-bolder">@it.Name</h5>
                                
                                @it.price
                            </div>
                        </div>
                       
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="Iteams" asp-route-id="@it.Id">اذهب</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    </div>
</section>

